<section class="sidebar">
  <ul>
    <a href="/admin">
      <li>
        <img class="icon" src="/img/web-page-home.png">
        <span class="menu">HOME</span>
      </li>
    </a>
    <a href="/admin/cohorts">
      <li>
        <img class="icon" src="/img/multiple-users-silhouette.png">
        <span class="menu">Cohorts</span>
      </li>
    </a>
    <a>
      <li onclick="subMenu()">
        <img class="icon" src="/img/website.png">
        <span class="menu">Projects</span>
      </li>
    </a>
    <ul id="sub" class="sub-menu">
      <a href="/admin/community">
        <li>
          <img class="icon" src="/img/collaboration.png">
          <span class="menu">Community Project</span>
        </li>
      </a>
      <a href="">
        <li>
          <img class="icon" src="/img/worlwide.png">
          <span class="menu">Client Project</span>
        </li>
      </a>
    </ul>
    </a>
  </ul>
</section>