.facInfo h1 {
  font-family: lato;
  color: #389dbf;
  font-size: 2rem;
  line-height: 43px;
  letter-spacing: 5%;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.facInfo p {
  overflow: hidden;
  font-family: Roboto;
  color: #757575;
  text-align: justify;
  font-weight: bold;
  line-height: 28px;
  letter-spacing: 1px;
}

.github {
  display: flex;
  align-self: center;
  margin: auto;
}

h5 {
  font-weight: bold;
  color: #757575;
}

.github button {
  justify-self: center;
  font-weight: bold;
  outline: none;
  width: 250px;
  height: 55px;
  background-color: #6dab3c;
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 5%;
  border: none;
  transition-duration: 0.3s;
}

.github button:hover {
  background-color: #407019;
}

.github a {
  margin-top: 1rem;
  text-decoration: none;
  text-align: center;
  color: #fff;
}

.phase {
  padding: 2%;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.phase h1 {
  font-family: lato;
  color: #389dbf;
  font-size: 2rem;
  line-height: 43px;
  letter-spacing: 5px;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.proj {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
}

.slider {
  width: 50%;
  margin: 0 auto;
}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide > a > img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-slide > a > img {
  transition: all ease-in-out 0.3s;
  -webkit-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}

.info {
  padding: 4px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 10px;
  width: 90%;
  margin: 3rem auto;
}

.slick-slide:hover > a > img {
  opacity: 0.3;
}

.sutdent {
  display: grid !important;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  text-align: center;
}

.sutdent h4 {
  color: #757575;
  font-size: 17px;
}
.sutdent a:hover {
  background-image: url("/img/github-logo.png");
  background-repeat: no-repeat;
  background-position: center;
}

.comp img {
  display: flex;
  align-self: center;
  margin: auto;
  margin-top: 0.2rem;
  width: 100%;
  border-radius: 5px;
  height: 250px;
}

.comp {
  -webkit-box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  color: #757575;
}
.comp:hover {
  -webkit-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.75);
}

.comp h4 {
  margin-top: 1rem;
  text-align: center;
}

hr {
  margin: 0 auto;
  width: 80%;
  height: 1px;
  border-top: 1px solid #ccc;
}

.silderSection {
  margin-top: 4rem;
}

.icon:hover {
  border: 1.5px solid #fff;
  border-radius: 50%;
}

.contactInformation {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  margin-left: 2%;
  margin: 10px;
}

.topnav {
  z-index: 100;
  width: 100%;
}

.follow,
.contact {
  margin: 10px 0px 10px 30px;
}

.students img {
  width: 100%;
  height: auto;
  padding: 5px;
}

.students h2 {
  text-align: center;
  padding-bottom: 1em;
}

@media (max-width: 1024px) {
  .next {
    display: none !important;
  }
  
  .facInfo{
    height: 300px;
    overflow: hidden;
  }

  .info {
    padding: 4px;
    display: grid;
    grid-template-columns:1fr;
    grid-gap: 10px;
    width: 90%;
    margin: 0 auto;
  }
}
