* {
  padding: 0%;
  margin: 0;
}

body {
  font-family: Roboto;
}


.container {
  width: 100%;
  margin: auto;
}

.header {
  background: #fff;
  color: #389dbf;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.main{
  margin: 0 auto;
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  box-shadow: 0px 0px 5px 0px #aaaaaa;
}
.topnavUL {
  font-size: 14px;
  margin-top: 4%;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 2fr;
  list-style: none;
  justify-content: center;
  align-items: center;
  color: #389dbf;
  font-weight: bold;
}
.topnavUL a{
  text-decoration: none;
}

.topnavUL a:hover{
  color: #ffa41f;
}

li{
  margin:5px;
}

.menu-icon {
  display: none;
}

.logo {
  justify-self: start;
  align-self: center;
  margin-top: 0.5rem;
  margin-left: 0.2rem;
  width: 15rem;
}

.imageClient {
  width: 100%;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

hr {
  height: 10px;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

h4{
  font-weight: bold;
  margin: 0;
}

h5{
  font-weight: bold;
}

.active{
  color:#ffa41f
}
.w3-left,
.w3-right,
.w3-badge {
  cursor: pointer;
  margin: 0 auto;
}

.w3-badge {
  height: 13px;
  width: 13px;
  padding: 0;
}

.w3-center {
  width: 100%;
}

.w3-display-bottommiddle2 {
  position: absolute;
  left: 50%;
  bottom: 173px;
  transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
}

.errMessage{
  text-align: center;
  font-family: lato;
  color: #1b1c1d;
  font-size: 25px;
  line-height: 43px;
  letter-spacing: 5%;
  font-weight: bold;
}

.img-footer {
  width: 100%;
  -webkit-box-shadow: 0px -4px 11px -2px rgba(170, 170, 170, 1);
  -moz-box-shadow: 0px -4px 11px -2px rgba(170, 170, 170, 1);
  box-shadow: 0px -4px 11px -2px rgba(170, 170, 170);
  grid-column: 1/3;
}
.footer {
  background-color: #2c2c2c;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 5%;
  font-size: 10px;
}

.icons{
  margin-left: 10px;
  padding: 2%;
}

.icons>img:hover{
  -webkit-box-shadow: 0px 0px 38px -8px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 38px -8px rgba(255,255,255,1);
  box-shadow: 0px 0px 38px -8px rgba(255,255,255,1);
  border-radius:50% 
}
.follow {
  text-align: left;
  margin-top: 5%;
  font-family: Montserrat;
  font-weight: bold;
}

.icon {
  padding-right: 0.5rem;
}

.icons img{
  margin: 1%;
}

.contactInformation {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: bold;
  margin-left: 2%;
  margin: 10px;
}

.topnav {
  z-index: 100;
  width: 100%;
}
.follow,.contact{
  margin: 10px 0px 10px 30px;
}

@media (max-width: 1024px) {
  .topnav {
    grid-column: 1/3;
  }
  .menu-icon {
    display: block;
    background: URL("/img/menu.png");
    align-self: center;
    justify-self: center;
  }

  .topnavUL {
    margin:0px;
    align-self: start;
    display: none;
    padding: 5px;
    list-style: none;
    grid-template-columns:1fr;
    color: #379dbf;
    font-weight: bold;
    justify-items: start;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color:   rgb(66 , 65, 64);    
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    -ms-animation: fadein 2s;
    -o-animation: fadein 2s;
     animation: fadein 2s;
  }

  .info {
    grid-template-columns: 1fr;
  }

  .footer {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .img_footer {
    width: 100%;
    -webkit-box-shadow: 0px -4px 11px -2px rgba(170, 170, 170, 1);
    -moz-box-shadow: 0px -4px 11px -2px rgba(170, 170, 170, 1);
    box-shadow: 0px -4px 11px -2px rgba(170, 170, 170);
    grid-column: 1/2;
  }

  .follow ,.contact{
    margin-left:30px;
    margin-bottom:10px;
    font-weight: 200;
  }

  .contactInformation {
    font-family: Montserrat;
    font-size: 0.9rem;
    font-weight: bold;
    margin-left: 2%;
    margin: 10px;
  }

  .next {
    display: none !important;
  }

}
