* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Roboto;
  font-weight: bold;
}
.container {
  width: 100%;
  margin: auto;
}
.header {
  min-height: 50px;
  background-color: #2b3643;
  z-index: 9995;
  position: fixed;
  width: 100%;
}

ul a {
  display: block;
  position: relative;
  margin: 0;
  border: 0px;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 300;
  border-bottom: 1px solid #3d4957;
  color: #b4bcc8;
}
.icon {
  margin-top: -2%;
  margin-left: 1%;
  margin-right: 10%;
}
ul a:hover {
  background: #2c3542;
}
.logo {
  padding-top: 0.5%;
  padding-bottom: 0px;
  height: 40px;
}
ul {
  list-style-type: none;
  list-style: none;
  margin-top: 3rem;
  padding: 0;
}

.sidebar {
  grid-area: sidebar;
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #364150;
  overflow-x: hidden;
  font-size: 150%;
}

.content {
  font-family: Montserrat;
  grid-area: content;
  position: relative;
  background-color: #fff;
  padding-top: 8%;
  padding-left: 1%;
}

.wrapper {
  width: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 0.75fr 2fr 1fr;
  grid-template-areas: "sidebar content content content";
  background-color: #fff;
  color: #444;
  margin-bottom: 50px;
}

.footer {
  padding-top: 1%;
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 40px;
  color: #fff;
  background-color: #2b3643;
  bottom: 0;
}
.copyright {
  margin: 2%;
}
.sub-menu {
  display: none;
}


.sub-menu--visible {
  list-style: none;
  display: block;
  padding: 0;
  margin-top: 0%;
}
.sub-menu--visible a {
  font-size: 16px;
}
.sub-menu--visible a li .icon {
  margin-left: 20%;
  margin-right: 2%;
}
.static {
  margin-top: 2%;
}

.com-name h3 {
  font-weight: bold;
  font-size: 1.5rem;
  font-family: "Roboto";
  letter-spacing: 0.1rem;
}

.tabel th {
  text-align: center;
}
.tabel td {
  text-align: center;
}

.logout {
  margin-top: -3%;
  margin-right: 2%;
  color: #fff;
  text-align: right;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.part:hover input ~ .checkmark {
  background-color: #ccc;
}

.part input:checked ~ .checkmark {
  background-color: #2196f3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.part input:checked ~ .checkmark:after {
  display: block;
}

.part .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  
}

button{
  cursor: pointer;
}


@media screen and (max-width: 634px) {
  .menu {
    display: none;
  }
  .sidebar {
    width: 50px;
  }
  ul {
    margin-top: 90%;
  }
  .content {
    padding-top: 30%;
    padding-right: 0%;
    padding-left: 0%;
  }
  .static {
    font-size: 16px;
  }
  .button {
    font-size: 12px;
    margin: 1%;
    padding: 2.1%;
  }
}
@media screen and (min-width: 635px) and (max-width: 770px) {
  .content {
    padding-top: 10%;
    padding-right: 0%;
    padding-left: 0%;
  }
}
