<section class="content">
    <h1>STATISTICS</h1>
    <section class="static">
        <h3 class="static">Number Of Cohorts : 5</h3>
        <h3 class="static">Number Of Projects : 50</h3>
        <h3 class="static">Number Of Students : 25 </h3>
    </section>
</section>