<section class="content">
    <h1 class="homePageTitle">Control Panel Homepage</h1>
    <br><br>
    <h2>STATISTICS</h2>
    <section class="static">
        <h3 class="static">Number Of Cohorts : 5</h3>
        <h3 class="static"> Number Of Project : 50</h3>
        <h3 class="static">Number Of Community Project : 25 </h3>
        <h3 class="static">Number Of Client Project : 25</h3>
    </section>
</section>  