<section>
  <img class="imageClient" src="/img/besart-bootcamp.jpg">
</section>
<section class="section2">
  <h1 class="textmain">Cohorts
  </h1>
  <section class="CohortList">
    <div class="cohort">
      <a href="/cohortPage.html">
        <img src="/img/cohort5.jpg" alt="">
      </a>
      <h5>Cohort 5</h5>
    </div>
    <div class="cohort">
      <img src="/img//cohort5.jpg" alt="">
      <h5>Cohort 5</h5>
    </div>
    <div class="cohort">
      <img src="/img//cohort5.jpg" alt="">
      <h5>Cohort 5</h5>
    </div>
    <div class="cohort">
      <img src="/img//cohort5.jpg" alt="">
      <h5>Cohort 5</h5>
    </div>
    <div class="cohort">
      <img src="/img//cohort5.jpg" alt="">
      <h5>Cohort 5</h5>
    </div>
  </section>
</section>