<section>
  <img class="/img/Client" src="/img//besart-bootcamp.jpg">
</section>
<section class="info">
  <div class="facInfo">
    <h1>FACG 5</h1>
    <p>The Code Academy is Palestine’s first full-stack coding bootcamp with a flagship campus in Gaza and second campus opening
      in the West Bank in November 2018. The Code Academy is a joint project of Mercy Corps/Gaza Sky Geeks and Founders &
      Coders International. We train 16 students per cohort in a full-time, intensive course for 8 weeks with an additional
      16 weeks of project-based learning with real-world clients to jumpstart your professional portfolio. The objective
      is to graduate as full-stack developers who can deploy production-grade software online and secure high-quality jobs
      with companies or work as freelance developers.</p>
  </div>
  <div class="github">
    <button>
      <a href="">Github Page</a>
    </button>
  </div>
</section>
<hr>
<section class="phase">
  <h1>Community Phase Projects</h1>
  <div class="proj">
    <div class="comp">
      <img class="projectImg" src="/img/startup-photos.jpg">
      <h4>Project Name</h4>
    </div>
    <div class="comp">
      <img class="projectImg" src="/img/startup-photos.jpg">
      <h4>Project Name</h4>
    </div>
    <div class="comp">
      <img class="projectImg" src="/img/startup-photos.jpg">
      <h4>Project Name</h4>
    </div>
    <div class="comp">
      <img class="projectImg" src="/img/startup-photos.jpg">
      <h4>Project Name</h4>
    </div>
  </div>

</section>
<hr/>
<section class="phase">
  <h1>Client Phase Projects</h1>
  <div class="proj">
    <div class="comp">
      <img class="projectImg" src="/img//startup-photos.jpg">
      <h4>Project Name</h4>
    </div>
    <div class="comp">
      <img class="projectImg" src="/img//startup-photos.jpg">
      <h4>Project Name</h4>
    </div>
    <div class="comp">
      <img class="projectImg" src="/img//startup-photos.jpg">
      <h4>Project Name</h4>
    </div>
    <div class="comp">
      <img class="projectImg" src="/img//startup-photos.jpg">
      <h4>Project Name</h4>
    </div>
  </div>

</section>
<hr>
<section class="silderSection">
  <section class="lazy slider ">
    <div class="sutdent">
      <img src="//img//2.jpg">
      <h4>Ali Haj Ahmed</h4>
    </div>
    <div class="sutdent">
      <img src="//img//4.jpg">
      <h4>Ali Haj Ahmed</h4>
    </div>
    <div class="sutdent">
      <img src="//img//3.jpg">
      <h4>Ali Haj Ahmed</h4>
    </div>
    <div class="sutdent">
      <img src="//img//1.jpg">
      <h4>Ali Haj Ahmed</h4>
    </div>
    <div class="sutdent">
      <img src="//img//5.jpg">
      <h4>Ali Haj Ahmed</h4>
    </div>
  </section>
</section>