<section class="main">
  <section class="slider">
    <div class=" w3-display-container">
      <img class="mySlides" src="/img/besart-bootcamp.jpg">
      <img class="mySlides" src="/img/besart-bootcamp2.jpg">
      <img class="mySlides" src="/img/besart-bootcamp3.jpg">

      <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle2">
        <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
        <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
      </div>
      <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle">
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
      </div>
    </div>
  </section>
</section>
<section class="section2">
  <h1 class="textmain">PALESTINE'S FIRST FULL-STACK CODE ACADEMY</h1>
  <p class="codeAcademy ">The Code Academy is Palestine’s first full-stack coding bootcamp with a flagship campus in Gaza and second campus opening
    in the West Bank in November 2018. The Code Academy is a joint project of Mercy Corps/Gaza Sky Geeks and Founders & Coders
    International. We train 16 students per cohort in a full-time, intensive course for 8 weeks with an additional 16 weeks
    of project-based learning with real-world clients to jumpstart your professional portfolio. The objective is to graduate
    as full-stack developers who can deploy production-grade software online and secure high-quality jobs with companies
    or work as freelance developers.</p>
  <button class="join">JOIN THE CODE ACADEMY</button>
  <hr>
</section>
<section class="section3">
  <h1 class="textmain">Students Projects</h1>
  <div class="project">
    <div>
      <a href="/communityProjects">
        <div class="C_project">
          <img class="image" src="/img/Community.png">
        </div>
      </a>
      <div class="Community">Community Accelerator</div>
    </div>
    <div>
      <a href="/clientProjects">
        <div class="C_project">
          <img class="image" src="/img/Client.png">
        </div>
      </a>
      <div class="Community">Client Remote</div>
    </div>
  </div>
</section>