<header class="header">
    <img src="/img/panelLogo.png" alt="">
</header>
<section class="contentlogin">
    <h3>Sign In</h3>
    <input id="username" type="text" autocomplete="off" placeholder="Username" name="username">
    <input id="password" type="password" autocomplete="off" placeholder="Password" name="password">
    <button id="loginButton" type="submit" class="button">Login</button>
</section>
<script src="/js/{{js}}.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>