  <header class="header" id="myHeader">
    <div class="container">
      <img src="/img/panelLogo.png" class="logo">
      <a href="/admin/logout"><h3 id="logout" class="logout">logout</h3></a>
    </div>
  </header>