<section class="footer">
  <img class="img_footer" src="/img/code.jpeg" alt="">
  <div class="follow">
    <h4>FOLLOW US</h4>
    <div class="icons">
      <img src="/img/facebook.png">
      <img src="/img/twitter.png">
      <img src="/img/youtube.png">
      <img src="/img/instagram.png">
    </div>
  </div>
  <div class="contact">
    <h5>CONTACT US</h4>
      <p class="contactInformation">Our space is open Sat-Thu, 8am-7pm</p>
      <p class="contactInformation">
        <img class="icon" src="/img/phone-receiver.png">Phone: +970 8282 6331</p>
      <p class="contactInformation">
        <img class="icon" src="/img/mail.png">Email: info@gazaskygeeks.com</p>
  </div>
</section>