<section class="footer">
  <img class="img-footer" src="/img/code.jpeg" alt="">
  <div class="follow">
    <h4>follow us</h4>
    <div class="icons">
      <a href="https://facebook.com/gazaskygeeks" target="_blank"><img src="/img/facebook.png"></a>
      <a href="http://twittter.com/gazaskygeeks" target="_blank"><img src="/img/twitter.png"></a>
      <a href="https://youtube.com/gazaskygeeks" target="_blank"><img src="/img/youtube.png"></a>
      <a href="https://instagram.com/gazaskygeeks" target="_blank"><img src="/img/instagram.png"></a>
    </div>
  </div>
  <div class="contact">
    <h5>contact us</h4>
      <p class="contactInformation">Our space is open Sat-Thu, 8am-7pm</p>
      <p class="contactInformation">
        <img class="icon" src="/img/phone-receiver.png">Phone: +970 8282 6331</p>
      <p class="contactInformation">
        <img class="icon" src="/img/mail.png">Email: info@gazaskygeeks.com</p>
  </div>
</section>