<section class="header" id="myHeader">
  <img class="logo" src="/img/logo.png" alt="">
  <img class="menu-icon" src="/img/menu.png" alt="" onclick="myFunction()">
  <nav class="topnav" id="myTopnav">
    <ul class="topnavUL" id="topnavUL">
      <li>
        <a href="/" class="menu">Home</a>
      </li>
      <li>
        <a href="/cohort" class="menu">Alumni</a>
      </li>
      <li>
        <a href="/communityProjects" class="menu active">Community Projects</a>
      </li>
      <li>
        <a href="/clientProjects" class="menu">Client Projects</a>
      </li>
    </ul>
  </nav>
</section>