<!DOCTYPE html>
<html>
<head>
    {{>adminPanel/adminHead}}
</head>

<body>

    {{>adminPanel/adminHeader}}
    <main class="wrapper">
        {{>adminPanel/adminSidebar}} {{{body}}}

    </main>
    {{>adminPanel/adminFooter}}
    {{#if jsFile}}
      {{#each jsFile}}
        <script src="/js/{{this}}.js"></script>
     {{/each}}   
    {{/if}}
    <script src="/js/admin.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


</body>

</html>